#home {
  background-color: var(--cotton-white);
  display: flex;
  padding: 0px;
  margin: 0px;
  height: 100vh;
  width: 100vw;
}
#home-container {
  display: flex;
  flex-direction: column;
  margin: 10vh 10vw;
  font-size: 38px;
  height: 80vh;
  width: 80vw;
  font-family: "Urbanist", sans-serif;
}

nav {
  align-self: end;
}
nav a {
  font-family: "Rethink Sans", sans-serif;
  font-weight: 800;
  color: var(--rose-red);
  font-size: 38px;
  padding-left: 2vw;
}

#center-container {
  font-family: "Gloock", serif;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: var(--rose-red);
  background-color: var(--noir-black);
}

#center-container div {
  line-height: 1;
}
#hello {
  font-size: 48px;
}
#myNameIs {
  font-size: 48px;
}
#geomarSantos {
  font-size: 100px;
}
