#test {
  display: flex;
  position: absolute;
  animation: movement 5s infinite linear;
  white-space: nowrap;
  top: 5vh;
}
#test div {
  background-color: var(--rose-red);
  display: inline-block;
}
@keyframes movement {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100vw);
  }
}

#home-container {
  display: flex;
  flex-direction: column;
  margin: 10vh 10vw;
  height: 80vh;
  width: 80vw;
  font-family: "Urbanist", sans-serif;
  font-size: 1em;
}

nav {
  align-self: end;
}
nav a {
  font-family: "Rethink Sans", sans-serif;
  font-weight: 800;
  color: var(--rose-red);
  font-size: 1em;
  padding-left: 2vw;
}

#center-container {
  font-family: "Gloock", serif;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: var(--rose-red);
  background-color: var(--noir-black);
}

#center-container div {
  line-height: 1;
}
#hello {
  font-size: 1.5em;
}
#myNameIs {
  font-size: 1.5em;
}
#geomarSantos {
  font-size: 3em;
}
